
body{
	background-color: steelblue;
	font-family:Garamond;
}
h1 {
	color: yellow;
	background-color: orange;
	padding: 5px 10px 5px 10px;
	font-weight: 900;
	font-style: oblique;
}

h2 {
	color: purple;
	background-color: silver;
	padding: 2px 5px 2px 5px;
	font-style: oblique;
	font-weight: 700;

}

td, th {
	border: 1px solid;
	color: snow;
}

img{
	max-width: 400px;
	max-height: 400px;
	object-fit: cover;
}

.indigo{
	background-color: indigo;
}

.darkmagenta{
	background-color: darkmagenta;
}

.purple{
	background-color: purple;
}

.darkviolet{
	background-color: darkviolet;
}

.darkorchid{
	background-color: darkorchid;
}

.blue{
	background-color: blue;
}

.mediumblue{
	background-color: mediumblue;
}

.darkblue{
	background-color: darkblue;
}

.midnightblue{
	background-color: midnightblue;
}